/* For (2,4,6)*/
.drawLineNew {
  width: 0.5%;
 height: 90%;
 background-color: blue;
 position: absolute;
 left: 50%;
 bottom: 0;
 transform: rotate(50deg) translate(-50px,-30px); 
 animation: mymove 5s ease-in;
}

@keyframes mymove {
  from {  transform: rotate(50deg) translate(-50px,-30px);z-index: 1;height: 0%; left: 50%;bottom: 45%;}
  to { transform: rotate(50deg) translate(-50px,-30px);z-index: 1;height: 90%;}
}

/* if the screen is less than 900 */
.drawLineNew900 {
  width: 0.5%;
 height: 50%;
 background-color: blue;
 position: absolute;
 left: 50%;
 bottom: 0;
 transform: rotate(57deg) translate(-232px,-160px); 
 animation: mymove900 5s ease-in;
}

@keyframes mymove900 {
  from {  transform: rotate(57deg) translate(-232px,-170px);z-index: 1;height: 0%; left: 50%;bottom: 25%;}
  to { transform: rotate(57deg) translate(-232px,-170px);z-index: 1;height: 50%;}
}

/* For (0,4,8) */
.drawLineReverse {
  width: 0.5%;
 height: 90%;
 background-color: blue;
 position: absolute;
 left: 50%;
 bottom: 0;
 transform: rotate(130deg) translate(-30px,40px);
 animation: mymoveReverse 5s ease-in;
}

@keyframes mymoveReverse {
  from {  transform: rotate(130deg) translate(-30px,40px);z-index: 1;height: 0%; left: 50%;bottom: 45%;}
  to { transform: rotate(130deg) translate(-30px,40px);z-index: 1;height: 90%;}
}

/* if the screen is less than 900 */
.drawLineReverse900 {
  width: 0.5%;
 height: 50%;
 background-color: blue;
 position: absolute;
 left: 50%;
 bottom: 0;
 transform: rotate(123deg) translate(-232px,160px);
 animation: mymoveReverse900 5s ease-in;
}

@keyframes mymoveReverse900 {
  from {  transform: rotate(123deg) translate(-232px,160px);z-index: 1;height: 0%; left: 50%;bottom: 25%;}
  to { transform: rotate(123deg) translate(-232px,160px);z-index: 1;height: 50%;}
}

/* For (1,4,7) */
.drawLine1 {
  width: 0.5%;
 height: 90%;
 background-color: blue;
 position: absolute;
 left: 52%;
 bottom: 0;
 transform: translate(-50px,-30px);
 animation: mymove1 5s ease-in;
}

@keyframes mymove1 {
  from {  transform: translate(-50px,-30px);z-index: 1;height: 0%}
  to { transform:  translate(-50px,-30px);z-index: 1;height: 90%;}
}
/* if the screen is less than 900 */
.drawLine1900 {
  width: 0.5%;
 height: 34%;
 background-color: blue;
 position: absolute;
 left: 52%;
 bottom: 0;
 transform: translate(-10px,-344px);
 animation: mymove1900 5s ease-in;
}

@keyframes mymove1900 {
  from {  transform: translate(-10px,-342px);z-index: 1;height: 0%}
  to { transform:  translate(-10px,-342x);z-index: 1;height: 34%;}
}

/* For (0,3,6) */
.drawLine2 {
  width: 0.5%;
 height: 90%;
 background-color: blue;
 position: absolute;
 left: 38%;
 bottom: 0;
 transform: translate(-50px,-30px);
 animation: mymove2 5s ease-in;
}

@keyframes mymove2 {
  from {  transform: translate(-50px,-30px);z-index: 1;height: 0%}
  to { transform:  translate(-50px,-30px);z-index: 1;height: 90%;}
}

/* if the screen is less than 900 */
.drawLine2900 {
  width: 0.5%;
 height: 34%;
 background-color: blue;
 position: absolute;
 left: 35%;
 bottom: 0;
 transform: translate(-74px,-337px);
 animation: mymove2900 5s ease-in;
}

@keyframes mymove2900 {
  from {  transform: translate(-74px,-337px);z-index: 1;height: 0%}
  to { transform:  translate(-74px,-337px);z-index: 1;height: 34%;}
}

/* For (2,5,8) */
.drawLine3 {
  width: 0.5%;
 height: 90%;
 background-color: blue;
 position: absolute;
 left: 66%;
 bottom: 0;
 transform: translate(-50px,-30px);
 animation: mymove3 5s ease-in;
}

@keyframes mymove3 {
  from {  transform: translate(-50px,-30px);z-index: 1;height: 0%}
  to { transform:  translate(-50px,-30px);z-index: 1;height: 90%;}
}

/* if the screen is less than 900 */
.drawLine3900 {
  width: 0.5%;
 height: 34%;
 background-color: blue;
 position: absolute;
 left: 66%;
 bottom: 0;
 transform: translate(66px,-340px);
 animation: mymove3900 5s ease-in;
}

@keyframes mymove3900 {
  from {  transform: translate(66px,-342px);z-index: 1;height: 0%}
  to { transform:  translate(66px,-342px);z-index: 1;height: 34%;}
}

/* For (0,1,2) */
.drawLine4 {
  width: 0.5%;
 height: 90%;
 background-color: blue;
 position: absolute;
 left: 28%;
 top: 28%;
 bottom: 0;
  animation: mymove4 5s ease-in;
  transform:  rotate(90deg) translate(-370px,-300px);
}

@keyframes mymove4 {
  from {  transform: rotate(90deg) ;z-index: 1;height: 0%;top: 28%;}
  to { transform:  rotate(90deg) translate(-366.5px,-300px);z-index: 1; height: 90%;top: 28%;}
}

/* if the screen is less than 900 */
.drawLine4900 {
  width: 0.5%;
 height: 50%;
 background-color: blue;
 position: absolute;
 top: 28%;
 left: 28%;
 bottom: 0;
  animation: mymove4900 5s ease-in;
  transform:  rotate(90deg) translate(-202px,-80px);
}

@keyframes mymove4900 {
  from {  transform: rotate(90deg);z-index: 1;height: 0%;top: 28.25%;left: 4%;}
  to { transform:  rotate(90deg) translate(-200px,-80px);z-index: 1; height: 50%;top: 28%;left: 28%;}
}

/* For (3,4,5) */
.drawLine5 {
  width: 0.5%;
 height: 90%;
 background-color: blue;
 position: absolute;
 left: 28%;
 top: 28%;
 bottom: 0;
  animation: mymove5 5s ease-in;
  transform:  rotate(90deg) translate(-200px,-300px);
}

@keyframes mymove5 {
  from {  transform: rotate(90deg);z-index: 1;height: 0%;top: 49%;}
  to { transform:  rotate(90deg) translate(-200px,-300px);z-index: 1; height: 90%;}
}

/* if the screen is less than 900 */
.drawLine5900 {
  width: 0.5%;
 height: 50%;
 background-color: blue;
 position: absolute;
 left: 28%;
 top: 28%;
 bottom: 0;
  animation: mymove5900 5s ease-in;
  transform:  rotate(90deg) translate(-116px,-80px);
}

@keyframes mymove5900 {
  from {  transform: rotate(90deg);z-index: 1;height: 0%;top: 38.5%;left: 4%;}
  to { transform:  rotate(90deg) translate(-113.8px,-80px);z-index: 1; height: 50%;top: 28%;left: 28%;}
}

/* For (6,7,8) */
.drawLine6 {
  width: 0.5%;
 height: 90%;
 background-color: blue;
 position: absolute;
 left: 28%;
 top: 28%;
 bottom: 0;
  animation: mymove6 5s ease-in;
  transform:  rotate(90deg) translate(-30px,-300px);
}

@keyframes mymove6 {
  from {  transform: rotate(90deg);z-index: 1;height: 0%;top: 70%;}
  to { transform:  rotate(90deg) translate(-30px,-300px);z-index: 1; height: 90%;}
}

/* if the screen is less than 900 */
.drawLine6900 {
  width: 0.5%;
 height: 50%;
 background-color: blue;
 position: absolute;
 left: 28%;
 top: 28%;
 bottom: 0;
  animation: mymove6900 5s ease-in;
  transform:  rotate(90deg) translate(-30px,-80px);
}

@keyframes mymove6900 {
  from {  transform: rotate(90deg);z-index: 1;height: 0%;top: 48.95%;left: 4%;}
  to { transform:  rotate(90deg) translate(-30px,-80px);z-index: 1; height: 50%;top: 28%;left: 28%;}
}
